#!/bin/bash

export DEV_DOMAIN=$1

echo "==================== CUSTOM BOOTSTRAP ==========================="

#example - copy in an alternative nginx config file
#cp -xav /vagrant/custom/magento /etc/nginx/sites-available/magento
#envsubst '${DEV_DOMAIN}' < /etc/nginx/sites-available/magento > /etc/nginx/sites-enabled/magento
#service nginx stop
#service nginx start




